.footer-yellow .copyright {
  text-align: center;
  padding-top: 24px;
  font-size: 13px;
  margin-bottom: 0;
}

#dropdown-link:hover {
  color: #f7f0f5;
}

.card-footer.a {
}

.card-footer.a {
  color: #0c1618;
}

